<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/spring-security">
<head>
    <meta charset="UTF-8">
    <title>직원 정보</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h2>인증된 직원 정보</h2>
    <p>아이디: [[${#authentication.principal.username}]]</p>
    <p>권한:
    <ul>
        <th:block th:each="auth : ${#authentication.authorities}">
            <li th:text="${auth.authority}"></li>
        </th:block>
    </ul>
    </p>
</div>

<div sec:authorize="!isAuthenticated()">
    <h2>사용자 인증 필요</h2>
    <p>로그인 후에 직원 정보를 확인할 수 있습니다.</p>
</div>

</body>
</html>